.headshot, .wallbang, .noscope, .smoke, .blindfolded, .flash, .airkill {
    width: 25px;
    height: 25px;
    background-size: cover;
    margin-left: 10px;
}

.headshot {
    background-image: url('../icons/special/icon_headshot.png');
}

.wallbang {
    background-image: url('../icons/special/icon_wallbang.png');
}

.noscope {
    background-image: url('../icons/special/icon_noscope.png');
}

.smoke {
    width: 35px;
    height: 35px;
    background-image: url('../icons/special/icon_smokeKill.png');
}

.blindfolded {
    background-image: url('../icons/special/icon_blindfolded.png');
}

.flash {
    background-image: url('../icons/special/icon_flashAssist.png');
}

.airkill {
    width: 30px;
    height: 25px;
    background-image: url('../icons/special/icon_airkill.png');
    margin-bottom: 25px;
}