.weapon {
    background-size: cover;
    margin-left: 8px;
}

.awp {
    width: 120px;
    height: 35px;
    background-image: url('https://i.imgur.com/i5Euh7o.png');
}

.ak47 {
    width: 88px;
    height: 25px;
    background-image: url('https://i.imgur.com/fZlAs4p.png');
}